<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>BraveWork's Default Webpack Setup</title>
	</head>
	<body>
		<div class="container">
	    	<div class="row">
	        	<div class="col-sm-6">
	        		<h1>Hello World!</h1>
	        		<img class="hello-world" src="./assets/img/hello-world.png" alt="a really cool image of hello world logo provided by microsoft"/>
	        		<h2>BraveWork Salutes you!</h2>
	        		<br/>
	        		The index is for to list all templates and provide the design overview.
	        		<%- require("/partials/example.ejs")({ 
	        			addNameToClassList, // function passed in via templateParameters in 
	        			html_chunk: `<p class="lead">Some Lead text for example</p>`,
	        			names_list: require('/partials/list-example.ejs')({
	        				R,
	        				names: readJson("example.json")
	        			})
	        		})%>
	        	</div>
	        	<div class="col-sm-6">
					<%- require ("/partials/card.ejs")() %>
	        	</div>
	    	</div>
		</div>
	</body>
</html>