<%- require("/partials/site/top.ejs")() %>

<main class="container">
	<div class="row">
    	<div class="col-sm-6">
    		<h1>Hello World!?</h1>
    		<img class="hello-world" src="./assets/img/hello-world.png" alt="a really cool image of hello world logo provided by microsoft"/>
    		<h2>BraveWork Salutes you!</h2>
    		<br/>
    		The index is for to list all templates and provide the design overview.

    		<script>
    			R.map(() => {}, ['a', 'b', 'c']);
    		</script>

    		<%- require("/partials/example.ejs")({ 
    			addNameToClassList, // function passed in via templateParameters in 
    			html_chunk: `<p class="lead">Some Lead text for example</p>`,
    			names_list: require('/partials/list-example.ejs')({
    				R,
    				names: readJson("example.json")
    			})
    		})%>
    	</div>
    	<div class="col-sm-6">
			<form id="testz">
	            <div class="mb-3">
	                <label for="name" class="form-label">Name</label>
	                <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
	            </div>
	            <div class="mb-3">
	                <label for="date" class="form-label">Date</label>
	                <input data-flatpickr="true" type="text" class="form-control date-time-text" id="date" required="true" name="date" autocomplete="off">
	            </div>
	            <button type="submit" class="btn btn-primary">Submit</button>
	            <script>
	            document.getElementById("testz").addEventListener("submit", function(e) {
	            	e.preventDefault();
	            	console.log("herr");
	            });
	        </script>
	        </form>
	        
    	</div>
	</div>
</main>

<%- require("/partials/site/bottom.ejs")() %>