<%
	var posts_list_items = getAllMarkdownFiles('./src/pages/blog')
		.map(x => {
			const path = x.replace('src/pages/', '/').replace('.md', '.html');
        	const { data } = readMarkdown(x.replace('src/pages/', ''));
        	return require("/partials/blog/list-item.ejs")({
        		...data,
        		href: path
        	})
		})
		.join('');
%>

<%- require("/views/main.ejs")({
	site,
	page: {
		title: "Blog Landing",
		path
	},
	head: `<link rel="stylesheet" href="/assets/css/blog-landing.css"/>`,
	header: {...readJson("header.json"), current_page: page},
	content: `<section><ul>${posts_list_items}</ul></section>`
}) 
%>