<%
    var class_list = "";
    // const { href, class: className, ...props } = Astro.props;
    // const { pathname } = Astro.url;
    // const subpath = pathname.match(/[^\/]+/g);
    // const isActive = href === pathname || href === '/' + subpath?.[0];
    if(current_page.path == href) {
       class_list += " active";
    }
%>
<a href="<%= href %>" class="<%= class_list %>"><%- text %></a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>