<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SiteName | Home</title>
        <script src="/assets/js/vendor/surreal.js"></script>
        <script src="/assets/js/vendor/css-inline-scope.js"></script>
        <script src="/assets/js/vendor/ramda.min.js"></script>
    </head>
    <body>
        <%- require("/partials/site/header.ejs")() %>