<%
	title = typeof title != "undefined" ? title : "";
	date = typeof date != "undefined" ? date : "";
	content = typeof content != "undefined" ? content : "";
%>
<li>
	<p class="date"><%- date_start %></p>
	<h4 class="title"><%- title %></h4>
	<%- content %>
	<style>
		me {
			display: flex;
			flex-direction: column;
			text-align: center;
			border-bottom: 1px solid #EFEFEF;
			margin-bottom: .5em;
			padding-bottom: .5em;
		}
	</style>
</li>
<style>
	me {
		margin-left: 0;
		padding-left: 0;
	}
</style>