<%- require("./_top.ejs")({
	head: `<link rel="stylesheet" href="./assets/css/blog-landing.css"/>`,
	header: require("/partials/site/header.ejs")({
		site_name: site.name,
		page,
		main_nav: header.main_nav.map(x => {
			return require("/partials/site/header-link.ejs")({
				...x,
				current_page: page
			})
		}).join('')
	})
}) %>

<main>
	<section>
		<%- posts_list %>
	</section>
</main>

<%- require("./_bottom.ejs")() %>