<%
	var head = typeof head !== "undefined" ? head : "",
		header = typeof header !== "undefined" ? header : "";
		footer_js = typeof footer_js != "undefined" ? footer_js : "";
%>

<%- require("./_top.ejs")({
	head,
	header: require("/partials/site/header.ejs")({
		site_name: site.name,
		page,
		main_nav: header.main_nav.map(x => {
			return require("/partials/site/header-link.ejs")({
				...x,
				current_page: page
			})
		}).join('')
	})
}) %>

<% content = typeof content != "undefined" ? content : "" %>
<main>
	<%- content %>
</main>

<%- require("./_bottom.ejs")({
	footer_js
}) %>