<%# examples of outputting attributes vs. HTML below %>
<% class_list = addNameToClassList("base-class")("something-else something-else") %>
<div class="<%= class_list %>">
    Some partial/chunk of HTML might go here <%- html_chunk %>
    Here we could put a list of names:
    <%- names_list %>
</div>