form {
      margin-bottom: 1em; /* stackable */
    

    hr {
      margin: 1.5em 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select,
      button {
        height: 40px; /* Set a consistent height */
        margin: 0; /* Remove default margin */
        box-sizing: border-box; /* Include padding and border in total width */
        padding: .5em;
    }

    textarea {
      min-height: 140px;
      padding: .75em;
    }

    button {
      padding-left: 1em;
      padding-right: 1em;
      cursor: pointer;
    }

    div {
      margin-bottom: 1em;
    }

    fieldset {
      padding-top: 1em;
    }

}