/* Offcanvas Menu Styling */
.offcanvas-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vh;
  min-width: 100%;
  height: 100vh;
  background-color: #222;
  color: #fff;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
}

.offcanvas-menu ul {
  list-style: none;
}

.offcanvas-menu li {
  margin: 1rem 0;
}

.offcanvas-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.close-menu {
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  align-self: flex-end;
  margin-right: 1rem;
  cursor: pointer;
}

/* Open the menu */
.offcanvas-menu.open {
  left: 0;
}

/* Mobile Responsiveness */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}