@import "cssbed/astro-bear.css";
//@import "cssbed/marx.css";

@import "form-defaults";

// Define Sass variables
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1200px;


//@import "~flatpickr/dist/flatpickr.min.css";

//caching page cron every 60 mins, but the previous triggers no one ever experiences it...

//est using 5 second intervals, then move up...

/* Code block container */
pre {
  background-color: #f5f5f5;  /* Light gray background */
  border-radius: 6px;         /* Rounded corners */
  padding: 16px;              /* Space inside the code block */
  overflow: auto;           /* Allows horizontal scrolling for long lines */
  font-size: 14px;            /* Adjust the font size */
  line-height: 1.5;           /* Space between lines */
  white-space: pre-wrap;
}

/* Inline code */
code {
  background-color: #f0f0f0;  /* Slightly different gray background for inline code */
  color: #d6336c;             /* A pop of color for the text */
  padding: 2px 4px;           /* Padding around inline code */
  border-radius: 4px;         /* Rounded corners for inline code */
  font-family: "Courier New", Courier, monospace;  /* Monospace font for code */
  
  overflow-wrap: break-word; /* Breaks long words */
}

pre code {
  font-size: 16px;
}

/* Syntax Highlighting (Optional, for multi-language support) */
/* Keywords */
pre code .keyword {
  color: #0073e6;  /* Blue for keywords */
}

/* Strings */
pre code .string {
  color: #2c9f45;  /* Green for strings */
}

/* Comments */
pre code .comment {
  color: #808080;  /* Gray for comments */
  font-style: italic; /* Italicize comments */
}

/* Semi-transparent Copy Button Styling */
.copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 115, 230, 0.95); /* Semi-transparent background */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease; /* Smooth transition for color changes */
}

.copy-btn:hover {
    background-color: rgba(0, 91, 181, 0.8); /* Semi-transparent hover effect */
}

.copy-btn:active {
  background-color: rgba(0, 68, 148, 0.8); /* Semi-transparent active effect */
}

// @import "offcanvas-menu.scss";