@import "global.css";

//@import "~flatpickr/dist/flatpickr.min.css";

//caching page cron every 60 mins, but the previous triggers no one ever experiences it...

//est using 5 second intervals, then move up...